.editor-root {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100vh;
  background-color: #eee;

  .composite-bar {
    width: 200px;
    background-color: rgba(223, 223, 223, 0.4);
  }

  .explorer-folders-view {
    width: 320px;
    background-color: rgba(255, 255, 255, 0.19);
  }
}
